@import 'home.scss';
@import 'about.scss';
@import 'media.scss';
@import 'faq.scss';
@import 'contact.scss';

$titleMainColor: #8cbf3f;
$titleSecColor: #9453a6;
$yellowColor: #f2cc0f;
$bgColor: #f2f2f2;
$blackish: #0d0d0d

